*{
    margin: 0;
    padding:0;
}
.back{
    margin: auto;
    margin-top: 90px;
    width: 300px;
    height: 300px;
    background-color: white;

    .outer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: yellowgreen;
        .inner{
            position: relative;
            height: 250px;
            width: 250px;
            border-radius: 50%;
            background-color: white;
            .number{
                position: relative;
                width: 100%;
                height: 100%;
                & div{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transform-origin: center;
                    text-align: center;
                    & span{
                        display: inline-block;
                        font-size: medium;
                        color: grey;

                    }
                }

            }
            .pointer{
                position: absolute;
                bottom: 50%;
                left: 50%;
                transform-origin: bottom center;
                &#hour{
                    width: 8px;
                    height: 80px;
                    background-color: yellowgreen;
                    margin-left: -4px;
                    border-radius: 4px;

                }
                &#minute{
                    width: 6px;
                    height: 100px;
                    background-color: grey;
                    margin-left: -3px;
                    border-radius: 3px;
                }
                &#second{
                    width: 2px;
                    height: 120px;
                    background-color: mediumaquamarine;
                    margin-left: -1px;
                    border-radius: 1px;

                }
            }
            .centerPointer{
                position: absolute;
                left: 47%;
                top: 46%;
                width: 16px;
                height: 16px;
                background-color: greenyellow;
                border-radius: 50%;
            }
        }
    }
}
.words{
    margin-top: 20px;
    text-align: center;
    font-size: larger;
    color: grey;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}















